{% extends 'base.html.twig' %}
{% block javascripts %}
    <div id="jsData"
         data-session-id="{{ session.sessionId }}"
         data-last-content-id="{{ latestContent? latestContent.id : 'false' }}"
    ></div>
    <script type="text/javascript" src="/js/ContentSharer.js"></script>
{% endblock %}
{% block container %}
    <h1>Content sharer</h1>
    <p class="flow-text">
        {% if hadSession %}
            Using existing session, your session key is:
        {% else %}
            Created new session with key:
        {% endif %}
        <b><code>{{ session.sessionId }}</code></b>
        | <a href="{{ path("content-sharer-new-session") }}">new session</a>
        | <a href="#join-modal" class="modal-trigger">join session</a>
        | <a href="javascript:"
             data-share-or-copy="{{ url("content-sharer-join-session", {"session-key": session.sessionId}) }}"
             data-share-title="CodeWeb content session"
             data-tooltip="Copy link"
             class="tooltipped">share link</a>
    </p>

    <div id="join-modal" class="modal">
        <div class="modal-content">
            <h4>Join (existing) session</h4>
            <form action="{{ path('content-sharer-join-session') }}" method="get">
                <div class="input-field inline">
                    <label for="session-key">Session key</label>
                    <input id="session-key" class="inline" type="text" name="session-key"/>
                    <button type="submit" class="btn-small">Join session</button>
                </div>
            </form>
        </div>
    </div>

    {% for message in app.flashes('error') %}
        <div style="color: red">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col l6 s12">

            {% include 'session/media.html.twig' with {
                'session': session,
                'contentArr': sessionContent,
            } %}
        </div>

        <div class="col l6 s12">
            {% include 'session/chat.html.twig' with {
                'session': session,
                'contentArr': sessionContent,
            } %}
        </div>
    </div>

{% endblock %}