{% extends 'base.html.twig' %}
{% block container %}
    <h1>Content sharer</h1>
    {% if hadSession %}
        <p class="flow-text">Using existing session, your session key is: <code>{{ session.sessionId }}</code>, <a href="{{ path("content-sharer-new-session") }}">generate new session</a></p>
    {% else %}
        <p class="flow-text">Created new session with key: <code>{{ session.sessionId }}</code>, <a href="{{ path("content-sharer-new-session") }}">, generate new session</a></p>
    {% endif %}

    <div></div>

    {% for message in app.flashes('error') %}
        <div style="color: red">
            {{ message }}
        </div>
    {% endfor %}
    <p class="flow-text">Or join a session:</p>
    <form action="{{ path('content-sharer-join-session') }}" method="get">
        <div class="input-field inline">

            <label for="session-key">Session key</label>
            <input id="session-key" class="inline" type="text" name="session-key"/>
            <button type="submit" class="btn-small">Join session</button>
        </div>
    </form>
    <div class="spacer"></div>
    <hr>
    <div class="row">
        <div class="col l6 s12">

            {% include 'session/media.html.twig' with {
                'session': session,
                'contentArr': sessionContent,
            } %}
        </div>

        <div class="col l6 s12">
            {% include 'session/chat.html.twig' with {
                'session': session,
                'contentArr': sessionContent,
            } %}
        </div>
    </div>

{% endblock %}